.bigCardButton {
  display: flex;
  width: 344px;
  height: 131px;
  align-items: center;
  border-radius: 16px;
  background: var(--neutral-light-lightest);
  backdrop-filter: blur(2px);
  border: none;
  padding: 24px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: left;
}

.bigCardButton:not(:disabled) {
  cursor: pointer;
}

.bigCardButton:disabled {
  cursor: default;
  opacity: 0.6;
}

.bigCardButton:active:not(:disabled) {
  transform: scale(0.98);
}

.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.title {
  margin: 0;
  align-self: stretch;
  color: var(--neutral-dark-darkest);
  font-size: var(--font-size-h4);
  font-style: normal;
  font-weight: var(--font-weight-heading);
  line-height: normal;
  margin-bottom: 8px;
}

.subtitle {
  align-self: stretch;
  color: var(--neutral-dark-light);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: var(--font-weight-body);
  line-height: 16px;
  letter-spacing: 0.12px;
}

.subtitleText {
  margin: 0;
  margin-bottom: 4px;
}

.distanceText {
  margin: 0;
}

.arrow {
  flex-shrink: 0;
  margin-left: 16px;
}
