.miniTagButton {
  display: flex;
  height: 20px;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: var(--color-highlight);
  border: none;
  color: var(--neutral-light-lightest);
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: var(--font-weight-body);
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.miniTagButton:not(:disabled) {
  cursor: pointer;
}

.miniTagButton:disabled {
  cursor: default;
  opacity: 0.6;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
