.payTitleModule {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.subTitle {
  color: var(--support-success-dark);

  /* Heading/H5 */
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-heading);
}

.title {
  color: var(--neutral-dark-darkest);

  /* Heading/H3 */
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-heading);
  line-height: normal;
}
